.heading1{
    float: left;
    padding-left: 50px;
}

.me {
    float: left;
    margin-left: 10px;
    padding-left: 0px;
    
}

.about{
    float: right;
    padding-right: 250px
}
.portfolio{
    float: right ;
}
.contact{
    float: right;
}

.bio{}