.heading1{
    float: center;
    padding-left: 250px;
    color: white;
    background: #20B2AA;
    
   
}

.me {
    float: left;
    margin-left: 10px;
    padding-left: 0px;
    
}

.about{
    float: right;
    padding-right: 250px;
    
}
.portfolio{
    float: right ;
}
.contact{
    float: right;
}

.bio{}